body {
    background-color: olive;
    color: white;
}

ul.li {
    width: 180px;
    list-style: none;
    margin: 0;
    padding: 30px;
}

li {
    font-size: 17px;
    line-height: 50px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    float: left;
    border-bottom: 1px solid #000000;
    border-top: 1px solid rgb(0, 0, 0);
    background: rgb(100, 100, 2);
    padding: 20px 30px 20px;
    display: block;
    text-decoration: none;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}